<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Exercise Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"
          type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h1>Exercise tracker</h1>
    <p>* = required</p>
    <form action="/api/exercise/new-user" method="post">
        <h3>Create a New User</h3>
        <label for="uname">username*</label>
        <input id="uname" type="text" name="username" required>
        <input type="submit" value="Submit">
    </form>
    <form action="/api/exercise/add" method="post">
        <h3>Add exercises</h3>
        <label for="uid">userId*</label>
        <input id="uid" type="text" name="userId" required>
        <label for="desc">description*</label>
        <input id="desc" type="text" name="description" required>
        <label for="dur">duration* (mins.)</label>
        <input id="dur" type="number" min="1" name="duration" required>
        <label for="dat">date</label>
        <input id="dat" type="date" name="date">
        <input type="submit" value="Submit">
    </form>
    <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
    <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
    <p><strong>from, to</strong> = dates (mm/dd/yyyy); <strong>limit</strong> =
        number</p>
</div>
</body>
</html>
